$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1024px;
$breakpoint-xxl: 1400px;

@mixin breakpoint($sizes...) {
  @each $size in $sizes {
    @if $size == sm {
      @media (max-width: $breakpoint-sm) {
        @content;
      }
    } @else if $size == md {
      @media (min-width: $breakpoint-sm + 1) and (max-width: $breakpoint-md) {
        @content;
      }
    } @else if $size == lg {
      @media (min-width: $breakpoint-md + 1) and (max-width: $breakpoint-lg) {
        @content;
      }
    } @else if $size == xl {
      @media (min-width: $breakpoint-lg + 1) and (max-width: $breakpoint-xxl) {
        @content;
      }
    } @else if $size == xxl {
      @media (min-width: $breakpoint-xxl + 1) {
        @content;
      }
    }
  }
}
