$zest-color: #E87928;
$neon-carrot-color: #FF8B37;
$emerald-color: #47D867;
$burnt-sienna-color: #EC6259;
$mischka-color: #D0D0D8;
$shark-color: #1C1C21;
$macaroni-and-cheese-color: #FFAC70;
$seashell-peach-color: #FFF3EB;
$white-color: #FFFFFF;
$granny_apple: #E6FAEA;
$provincial_pink: #FDEEED;
$athens_gray: #F5F5F7;
