@import '../../assets/style/colors';
@import '../../assets/style/breackpoints';

.result {
  display: flex;
  background-color: $athens_gray;
}

.result_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.result_info-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
